bower_components/*
node_modules/*
.grunt/*
_SpecRunner.html
npm-debug.log

# Project Files #
*.sublime-workspace

# OS Garbage #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db